.custom-input-group {
    margin-bottom: 20px;
    /* Espacio entre el InputGroup y el siguiente elemento */

    font-size: 38px;
    /* Tamaño de fuente más grande */
    padding: 45px;
    /* Espaciado interno más grande */
}

.custom-input-group .btn-primary {
    margin-left: 20px;
    /* Espacio a la izquierda del Button dentro del InputGroup */
}

.custom-input {
    width: 900px;
    /* Ancho personalizado, ajusta según sea necesario */
    font-size: 18px;
    /* Tamaño de fuente más grande */
    padding: 15px;
    /* Espaciado interno más grande */
}

.custom-submit-button {
    background-color: rgb(133, 56, 5);
    /* Cambia el color de fondo del botón a rojo */
    /* Puedes agregar más estilos según sea necesario, como color de texto, borde, etc. */
    color: white;
    /* Color de texto blanco */
    border: 1px solid transparent;
    /* Borde transparente */
    border-radius: 5px;
    /* Borde redondeado */
    padding: 10px 20px;
    /* Espaciado interno */
    font-size: 18px;
    width: 200px;
}

.custom-submit-button:hover {
    background-color: darkred;
    /* Cambia el color de fondo del botón al pasar el mouse */
    /* Puedes ajustar otros estilos al pasar el mouse, como el color de texto */
}

.output-console {
    width: 100%;
    /* Ancho del textarea al 100% */
    height: 300px;
    /* Altura fija de 300px */
    resize: none;
    /* Evita que el usuario pueda redimensionar el textarea */
    border-radius: 5px;
    /* Borde redondeado */
    padding: 10px;
    /* Espaciado interno */
    border: 1px solid #ccc;
    /* Borde con color de borde gris claro */
    box-sizing: border-box;
    /* Incluye el borde en el tamaño total */
}